.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.open {
    opacity: 1;

    .box {
        opacity: 1;
    }
}

.box {
    width: 610px;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
}

.body {
    padding: 25px 30px;
}

.footer {
display: flex;
padding: 30px;
width: 100%;
box-sizing: border-box;
}

.right {
justify-content: flex-end;
}

.left {
justify-content: flex-start;
}

.center {
justify-content: center;
}

.header {
    font-family: var(--font-header);
    margin: 0;
    color: var(--color-primary-dark);
    margin: 0;
    padding: 25px 30px;
}
