.window {
    width: 25%;
    height: auto;
    background: var(--color-white);
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    outline: none;
} 

.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
}