.accordion {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  text-align: left;
  border: solid 0.5px #979797;
  border-radius: 2px;
  overflow: overlay;
}

.section {
  background-color: var(--color-white);
  text-align: left;
  overflow: hidden;
}

.title {
  display: flex;
  width: auto;
  justify-content: space-between;
  font-size: 13px;
  padding: 5px;
  font-family: var(--font-header);
  font-weight: 400;
  color: var(--color-light-gray);
  margin: 0;
}

.selected {
  color: var(--color-dark-gray);
}

.body {
  position: relative;
  transition: height 0.5s;
  background-color: var(--color-light-background);
  color: var(--color-dark-gray);
  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;

  p {
    padding: 9px 20px;
    margin: 0;
  }
}

.header {
  height: 30px;
  border: none;
  background: var(--color-white);
  outline: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &:active {
    background: var(--color-white);
  }
}

.downIcon {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 22px;
  margin: 3px;

  &::before,
  &::after {
    content: "";
    width: 11px;
    height: 10px;
    display: block;
    border-bottom: 2px solid var(--color-light-blue);
    position: absolute;
  }
  &::before {
    transition: all 0.3s ease-out;
    transform: rotate(-45deg) translate(0, 0);
  }
  &::after {
    transition: all 0.3s ease-out;
    transform: rotate(45deg) translate(0, 0);
  }
}

.exitIcon {
  &::before {
    transition: all 0.3s ease-out;
    transform: rotate(-45deg) translate(-2px, -2px);
  }
  &::after {
    transition: all 0.3s ease-out;
    transform: rotate(45deg) translate(3px, -3px);
  }
}
