:root {
  --icon-y: translateY(-50%);
  --border-radius: 4px;
}

.dropdown {
  width: 174px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px 1px #CCC;
}

.list {
  position: absolute;
  max-height: 0;
  overflow-x: auto;
  display: block;
  transition: all .2s linear;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.listOpen {
  max-height: 7.5rem;
  box-shadow: 0 0 1px 1px #CCC;
}

.button {
  background: white;
  color: #000000;
  position: relative;
  justify-content: flex-start;

  &::after {
    content: '';
    mask: url('_components/assets/icons/angle.svg');
    position: absolute;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background: var(--color-primary);
    width: .5rem;
    height: .5rem;
    top: 50%;
    transform: var(--icon-y) rotate(360deg);
    animation: rotateTo360 .4s linear;
    left: calc(100% - 1rem);
  }
}

.buttonOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &::after {
    animation: rotateTo180 .4s linear;
    transform: var(--icon-y) rotate(180deg);
  }
}

.item {
  background: white;
  color: #000000;
  justify-content: flex-start;

  + .item {
    border-top: 1px solid #ccc;
  }

  &:not(:last-child) {
    border-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:hover {
    background: #f3f3f3
  }

  &:focus {
    box-shadow: 0 0px 2px 2px var(--color-input-focus);
    z-index: 0;
  position: relative;
  }
}

@keyframes rotateTo360 {
  from {
    transform: var(--icon-y) rotate(180deg);
  }
  to {
    transform: var(--icon-y) rotate(360deg);
  }
}

@keyframes rotateTo180 {
  from {
    transform: var(--icon-y) rotate(0);
  }
  to {
    transform: var(--icon-y) rotate(180deg);
  }
}
