.input {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  appearance: none;
  border: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    transition: all .3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 18px;
    height: 18px;
    background: var(--color-input-primary);
    border: 1px solid var(--color-input-primary);
    outline: 0;
  }

  &::after {
    width: 5px;
    height: 5px;
    background: var(--color-light);
    opacity: 0;
  }

  &:focus {
    border-color: var(--color-input-focus);

    &::before {
      box-shadow: 0 0px 1px 1px var(--color-input-focus);
      border-color: var(--color-input-focus);
    }
  }
}

.checked {
  &::after {
    opacity: 1;
  }
}

.disabled {
  &::before {
    background: var(--color-disabled);
    border-color:  var(--color-disabled);
  }
}
