.section {
    background-color: white;
    text-align: left;
    overflow: hidden;
}

.title {
    display: flex;
    width: auto;
    justify-content: space-between;
    font-size: 13px;
    padding: 5px;
    font-family: var(--font-default);
    font-weight: 400;
    color: #979797;
    margin: 0;
}

.selected {
   color: #4c4c4c;
}

.body {
    position: relative;
    transition: height 0.5s;
    background-color: #f5f6f6;
    color: #4c4c4c;
    font-family: var(--font-default);
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    
    p {
        padding: 9px 20px;
        margin: 0;
    }
}

.header {
    height: 30px;
    border: none;
    background: white;
    outline: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.downIcon {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 8px;
    margin: 3px;

    &::before,
    &::after {
        content: '';
        width: 10px;
        height: 14px;
        display: block;
        border-bottom: 2px solid blue;
        border-radius: 2px;
        position: absolute;
    }

    &:before {
        transition: all 0.3s ease-out;
        transform: rotate(-45deg);
    }

    &:after {
        transition: all 0.3s ease-out;
        transform: rotate(45deg);
    }
}

.exitIcon {
    transition: all 0.3s ease-out;    
    width: 10px;
    height: 14px;

    &:before {
        transition: all 0.3s ease-out;
        transform: rotate(-45deg) translate(-7px,0px);
    }
    &:after {
        transition: all 0.3s ease-out;
        transform: rotate(45deg) translate(-7px, 0px);
    }
}
