.image_preview__modal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  .image_preview__modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    border-radius: 5px;

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }

    .image_preview__modal_buttons {
      display: block;
      align-self: flex-end;
    }
  }
}
