.input {
  outline: 0;
  transition: all .3s ease-in-out;
  color: #323232;
  border: 1px solid #979797;
  border-radius: 3px;
  padding: .6rem .8rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: .9rem;

  &:focus {
    border-color: #000000;
  }
}
