.radio {
  display: inline-block;
  position: relative;
}

.input {
  position: relative;
  width: 22px;
  height: 22px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    transition: all .3s ease-in-out;
  }

  &::before {
    width: 18px;
    height: 18px;
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    top: 1px;
    left: 1px;
    outline: 0;
  }

  &::after {
    width: 5px;
    height: 5px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:focus {
    box-shadow: unset;
    border-color: var(--color-focusable-blue);
  }
}

.input:focus::before {
  box-shadow: 0 0px 1px 1px #91d0d9;
  border-color: var(--color-focusable-blue);
}

.checked {
  &:after {
    opacity: 1;
  }
}
