.imageContainer {
  width: 50%;
  height: 200px;
  border: 2px solid #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: 6px;
  padding: 20px;

  &:hover {
    background-color: var(--color-gray-light);
  }

  &:active {
    opacity: 0.5;
  }
}

.description {
  color: var(--color-gray-default);
  font-size: 15px;
  line-height: 22px;
}

.avatarShape {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
