.input {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  appearance: none;
  border: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid var(--color-input-border);
    outline: 0;
  }

  &::after {
    width: 100%;
    height: 10px;
    mask: url('_components/assets/images/check.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background: var(--color-blue);
    opacity: 0;
  }

  &:focus {
    border-color: var(--color-input-focus);

    &::before {
      box-shadow: 0 0px 1px 1px #91d0d9;
      border-color: var(--color-input-focus);
    }
  }
}

.checked {
  &::before {
    border-color: var(--color-blue);
  }

  &::after {
    opacity: 1;
  }
}

.disabled {
  &::before {
    border-color:  var(--color-disabled);
  }

  &::after {
    background: var(--color-disabled);
  }
}
