.appBar {
  height: 60px;
  width: 100%;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}

@media(min-width: 769px) {
  .appBar {
    display: none;
  }
}

.iconWidth {
  width: 30px;
}
