.footer {
  display: flex;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}
