.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modalTitle {
    align-self: flex-start;  
    font-family: var(--font-header);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: var(--color-black);
    width: 90%;
    word-wrap: break-word;
}